// @import url(//fonts.googleapis.com/css?family=Oswald:700);

body {
  font-family: "Oswald", Impact, Charcoal, sans-serif;
  text-transform: uppercase;
  background: #000;
}

svg {
  max-height: 90vh;
  margin: 5vh auto;
  display: block;
}
